body {
   color: white;
   background-image: url("../images/crystalWallpaper.jpeg");
   font-family: 'Patrick Hand', cursive;
}
.container {
   text-align: center;
   margin: 20px 40px;
}

#title {
   font-family: 'Bangers', cursive;
   font-size: 80px;
   border: 3px solid white;
   padding: 5px;
   background: linear-gradient(to right, red,orange,green,blue,indigo); 

}
#directions {
   font-family: 'Patrick Hand', cursive;
   font-size: 20px;
   margin: 20px 20%;

}
#directions h2 {
   text-decoration-line: underline;
}
#directions p{
   padding: 4px;
}

#scoreTarget {
   font-size: 30px;
   color: #d93437;
}

#crystals img{
   border-radius: 30%;
}

#scoreCurrent {
   font-size: 30px;
   color: #2dc937;
}

#scoreTally {
   font-size: 20px;
}