body {
   color: white;
   background-image: url("../images/crystalWallpaper.jpeg");

}
.container {
   text-align: center;
   margin: 20px 40px;
}

#title {
   font-size: 50px;
   border: 5px solid red;
   padding: 5px;
   background: linear-gradient(to right, red,orange,green,blue,indigo); 

}
#directions {
   font-size: 20px;
   margin: 20px 20%;
}
#directions h2 {
   text-decoration-line: underline;
}
#directions p{
   padding: 4px;
}

#scoreTarget {
   font-size: 30px;
   color: #d93437;
}

#crystals {

}

#scoreCurrent {
   font-size: 30px;
   color: #2dc937;
}

#scoreTally {
   font-size: 20px;
}
